#score { text-align: center; }

#game {
  width: 1000px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
  background-image: url("./Be.jpg");
  background-size: cover;
}

#Robot {
  height: 75px;
  width: 75px;
  top: 225px;
  position: relative;
  background-image: url("./Robot.png");
  background-size: cover;
}

#Blok {
  width: 50px;
  height: 50px;
  position: relative;
  top: 175px;
  left: 550px;
  background-image: url("./Blok.png");
  background-size: cover;
  animation: Blok 1s infinite;
}

@keyframes Blok {
  0%{left: 1000px;}
  100%{left: -50px;}
}

.jump-animation {
  animation: jump 0.5s;
}

@keyframes jump {
  0%{top: 225px;}
  50%{top: 75px;}
  75%{top: 75px;}
  100%{top: 225px;}
}
/* Style the top navigation bar */
.navbar1 {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  left: 90%;
}

/* Style the navigation bar links */
.navbar1 a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;

}

/* Right-aligned link */
.navbar1 a.right {
  float: right;
}

/* Change color on hover */
.navbar1 a:hover {
  background-color: #ddd;
  color: black;
}

/* Change color on active */
.navbar1 a:active {
  background-color: rgb(92, 138, 245);
  color: black;
}